body {
  margin: 0;
  font-family:  'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(46, 52, 84);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: grid;
  place-content: center;
  color: rgb(247, 185, 22);
}

.searchbar-container {
  display: flex;
  margin: 0px auto;
  padding: 0 20px;
  align-items: center;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.searchbar input {
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
  border-radius: 3px;
  border: none;
  width: 300px;
  margin: 10px;
}

.searchbar input:focus {
  outline: none;
}

.searchbar-btn {
  background-color: rgb(247, 185, 22);
  border: none;
  border-radius: 3px;
  color: white;
  padding: .5em;
}

.pokedex-grid {
  display: grid;
  grid-auto-columns: repeat(3, 1fr);
  grid-gap: 10px;
}